<link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
<app-navbar></app-navbar>
<blockquote class="blockquote text-center">
    <hr>
    <h1 style="font-family: 'Francois One', sans-serif;">Sistema de Turnos WEB 2020</h1>
    <div class="container">
        <div class="card-columns">
            
                <div class="card,border: none;">
                    <a [routerLink]="['/nuevo-turno']"><img src="https://imgur.com/q1VYbqs.png" class="card-img-top" alt="..."></a>
                </div>

                <div class="card,border: none;">
                    <a [routerLink]="['/turnos_del_dia']"><img src="https://imgur.com/DhKHcHS.png" class="card-img-top" alt="..."></a>
                </div>

                <div class="card,border: none;">
                    <a [routerLink]="['/turnos']"><img src="https://imgur.com/7ShTBJP.png" class="card-img-top" alt="..."></a>
                </div>
            
           
        </div> 
    </div>
    
</blockquote>
